<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Sva putovanja</ion-title>
    <ion-icon name="filter-outline" slot="end" class="ion-padding" style="font-size: 4vh;" (click)="toggleFilter()">
    </ion-icon>
    <ion-icon name="search-outline" slot="end" class="ion-padding" style="font-size: 4vh;" (click)="toggleSearchBar()">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Pretraži grad" (ionChange)="onSearchChange($event)" *ngIf="showSearchBar" [value]="search"></ion-searchbar>

  <ion-row *ngIf="countries && showFilter">
    <ion-col>
      <ion-item>
        <ion-label position="floating">Država</ion-label>
        <ionic-selectable #selectCountry [(ngModel)]="selectedCountries" [items]="countries" name="country"
          itemValueField="countryID" itemTextField="name" groupValueField="continent.continentID"
          groupTextField="continent.name" [isMultiple]="true" [canSearch]="true" searchPlaceholder="Unesite ime države">
          <ng-template ionicSelectableCloseButtonTemplate>
            <ion-icon name="close"></ion-icon>
          </ng-template>
          <ng-template ionicSelectableSearchFailTemplate>
            <ion-title style="text-align: center; margin-top: 4vh;">
              Nije pronađena nijedna država.
            </ion-title>
          </ng-template>
          <ng-template ionicSelectableItemTemplate let-country="item">
            <img [src]="this.otherServices.returnFlag(country)" style="margin-right: 2vw;"> {{country.name}}
          </ng-template>
          <ng-template ionicSelectableFooterTemplate>
            <ion-footer>
              <ion-toolbar>
                <ion-row>
                  <ion-col size="6">
                    <ion-button (click)="clear()" expand="full">
                      Obriši sve
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button (click)="confirm()" expand="full">
                      Potvrdi
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-toolbar>
            </ion-footer>
          </ng-template>
        </ionic-selectable>
      </ion-item>
    </ion-col>
  </ion-row>

  <div *ngFor="let trip of trips">
    <ion-card [routerLink]="['/', 'trips', 'trip', trip.tripID]">
      <ion-item>
        <ion-thumbnail>
          <img [src]='trip.imageSrc ? trip.imageSrc : defaultImg' />
        </ion-thumbnail>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-row>
                <ion-col>
                  <ion-title class="ion-no-padding"><strong>{{ trip.city ? trip.city : trip.country.name }}</strong>
                  </ion-title>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text class="ion-no-padding">{{ this.otherServices.dateFormat(trip.travelDate, trip.returnDate) }}
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="4" class="col-price">
              <ion-title class="ion-no-padding text-price"><strong>{{ trip.price }} &euro;</strong></ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-icon name="chevron-forward-outline" slot="end" class="ion-no-margin"></ion-icon>
      </ion-item>
    </ion-card>
  </div>

</ion-content>