<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Pošalji upit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center" *ngIf="isAdmin">
    <ion-title>Ne možete slati upite kao admin.</ion-title>
  </div>

  <div *ngIf="!isAdmin">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Grad <ion-text color="medium">(opciono)</ion-text>
              </ion-label>
              <ion-input type="text" name="city" ngModel></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Država</ion-label>
              <ion-select name="country" ngModel required interface="action-sheet">
                <ion-select-option *ngFor="let country of countries" [value]="country.countryID">{{ country.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row> -->
        <ion-row *ngIf="countries">
          <ion-col>
            <ion-item>
              <ion-label position="floating">Država</ion-label>
              <ionic-selectable [(ngModel)]="selectedCountry" [items]="countries" name="country"
                itemValueField="countryID" itemTextField="name" groupValueField="continent.continentID"
                groupTextField="continent.name" [isMultiple]="false" canSearch="true" (onSearch)="searchCountries($event)" searchPlaceholder="Unesite ime države">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close"></ion-icon>
                </ng-template>
                <ng-template ionicSelectableSearchFailTemplate>
                  <ion-title style="text-align: center; margin-top: 4vh;">
                    Nije pronađena nijedna država.
                  </ion-title>
                </ng-template>
                <ng-template ionicSelectableItemTemplate let-country="item">
                  <img [src]="this.otherServices.returnFlag(country)" style="margin-right: 2vw;"> {{country.name}}
                </ng-template>
                <!-- <ng-template ionicSelectableItemTemplate let-country="item">
                  <img [src]="returnFlag(country)" style="margin-right: 2vw;"> {{country.name}}
                </ng-template> -->
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Datum putovanja</ion-label>
              <ion-datetime display-format="DD MMM YYYY" picker-format="DD MMM YYYY" name="travelDate" ngModel required
                [min]="minDate" [max]="maxDate" #travelDateCtrl="ngModel">
              </ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Datum povratka</ion-label>
              <ion-datetime display-format="DD MMM YYYY" picker-format="DD MMM YYYY" name="returnDate" ngModel required
                [min]="travelDateCtrl.value" [max]="maxDate">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Maksimalna cena <ion-text color="medium">(u evrima)</ion-text>
              </ion-label>
              <ion-input type="number" name="price" ngModel required #priceCtrl="ngModel" pattern="[0-9]+"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Dodatni opis o putovanju <ion-text color="medium">(opciono)</ion-text>
              </ion-label>
              <ion-textarea rows="3" name="description" ngModel></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block" shape="round" [disabled]="!f.valid">
              Pošalji upit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>