<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Zavrti globus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOptionsHeadline" pager="true" class="ion-padding-bottom">
    <ion-slide class="ion-padding">
      <ion-img src="https://i.imgur.com/jw2hfa5.jpg" class="img-headline" alt="grad"></ion-img>
    </ion-slide>
    <ion-slide class="ion-padding">
      <ion-img src="https://i.imgur.com/x80gNH9.jpg" class="img-headline" alt="grad"></ion-img>
    </ion-slide>
    <ion-slide class="ion-padding">
      <ion-img src="https://i.imgur.com/SjxRfTX.jpg" class="img-headline" alt="grad"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-card class="ion-padding" style="background-color: aqua;">
    <ion-text style="font-size: 2.3vh;">POŠALJI UPIT ZA PUTOVANJE NA BILO KOJU DESTINACIJU U BILO KOM PERIODU</ion-text>
  </ion-card>

  <!-- <div class="title-flags"> -->
    <ion-title class="ion-padding">Najposećenije države:</ion-title>
    <ion-slides [options]="slideOptionsFlags" class="ion-padding-vertical">
      <ion-slide *ngFor="let flag of flags">
        <ion-avatar style="border-width: 1px; border-color: black;">
          <ion-img [src]="getFlagName(flag)"></ion-img>
        </ion-avatar>
      </ion-slide>
    </ion-slides>
  <!-- </div> -->

  <!--<ion-text color="primary">
    {{ update }}
  </ion-text>-->
</ion-content>