<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Zavrti globus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOptionsHeadline" pager="true" class="ion-padding-bottom">
    <ion-slide class="ion-padding">
      <ion-img src="https://lh3.googleusercontent.com/EY9mO4xIsYtJXQuJMRra6ovkXTxfRWgyFxF9TI3yYOMw9kwXZdkG7G7EiEFswsmHzKhc6FL_hQ5sMvPzz4RVJGs924yw0orjDELYufwU3VMhhXiucG20NT7_7l3Q3e-Qd8FCfcuwJN5BMj1QFojVzzlTr7sCj3t1CXA8swAkr5Y7qEwTGjOpHaHgBoRLkvtL6SVm1ex8dCHu-8bYsrxO9-3URdTe1L6pwnCKYF7rfxBOA9b3A2nlWCmQI0scAODag3EAy16LlnbuLaV-jjb_28vcrw-4kSJ1r6rz957Gp0Vf2VH0elah9hin3wrpYJlCP9uLBISY3CLYqMb7bhjjOQc63_l1HlVzMXpp_Bz6pSnf01PYepkQFF-ujwz6MbTZJ6TxV51NtRyh-xvdbbKA3M27qn6uDRw2qtPsYV_FRdBjXlZcxA0_iF1ITN-hgEHjIDf7e4A6JGtUBurPm0rO_Jn_jza7TOTyfMQx90uvqi8lnorh5A0PZq_kOrtAC4BMv1I7C34kYFU05cDuBYF9v8ZpNbBCjIWSNx3YrjnCYvuDw7Dvb1v-hFHaCxiakwpclVDHMyAE412TXvFaWqVp_gX9vmRHeYg8-OKYOyzZPRYtwRsBCTt0-5-DxPNXpgCC1r4iJQw3JLN_Tnr3OM-xNfTZznvJ3uGmEX6UPVR6ysgBpI4fHIlwJwKMDnKD=w1080-h717-no?authuser=2" class="img-headline" alt="grad"></ion-img>
    </ion-slide>
    <ion-slide class="ion-padding">
      <ion-img src="https://lh3.googleusercontent.com/qGfqk0rRUzFZ7mk7KL5e4grmYoHfwV2uLm-Jax-I5uDrmQ3iDH7WOpngpQwOxco4MjoGidXNE_VPh9S8LuzypRLGnBi7zbPLNcLtecR9eaFQ9ETNZCTxqU8WXj8p8RGBgC90Lne_yKjDnVlTr5WKGkiPUzXWJtq7IoRrWkgt1TpFu_S8tfbQoHWHN4hC73JmsoDKqy0d_ls1FcWhmVzQbFc29iqpNhS_qqFSoO7LEO3gsadMs4NHYhJNqfz8mtz88fQQkMe9BvM0HSjctztJA6TgcHDO-ZVKPxFIwD4bVPCFwVeOUK-_aidSH1bUQHsjBsDYwkAy675SuOMEKVFckX-KFQmXOourE9Hj6swMrkvvm7gpYq8ZsIK_VI8L8zgfu5uuj1oL2clzFzJ6UO10F6W5PgLY8BKtpnzHUML0nVz6iL5hkywBonsyWPxjkleFR0SeI7vzuXxGAtj6EzILySD4OIM-9JPSix1acg2Mr5ZtGWizcMSRAJIPccwXw3escOd_qcBxIesmQgRbDS3NbiaSxPuz3obSwImN82GFkefYSydcNOYfQkuF5DDuqKuNHerOco6kBrYGDUTNKGnOt3t5OFakbD1DQyqJD5wEAF4B4L2ARWplydUoAD0IcT9iCHgGVyaQIQWm1cHrgzp-uG5GOTZZ3Kn5KxRAsqzoIqreIG0dKYHMp5MVXn9h=w1080-h717-no?authuser=2" class="img-headline" alt="grad"></ion-img>
    </ion-slide>
    <ion-slide class="ion-padding">
      <ion-img src="https://lh3.googleusercontent.com/l1H83H9Srg_ks92TvPlcOYyLM_n1hzQQg0WTxNWkBpdPFl0h-aOMkWb7o2w5rh_esOfqf6zkOFWzk32NjbRWjFEuDuFs-z8qU5rSMFLQAM2rGxL5MQkV2TlI-4f3aJVAiQIw1IPVbdWBV5rKNyFt2yPOGTsvMN-22e0QuZatGqBS2mTqcRhLZlJ1SWaDRky_w1dkyBPxazhH2yFAx8-qt_WrkNpS1WtQGBgLKv_-eyqCT_SP7q-Q5zym-iEt5hQKfT8Iw4gYg6YzbXT4SMqkPThNOqxoip77_InZO-6RCPhdUslotf7YOIHd3byxDhFaSIXnEGkctOiqFz_7DSBMKZ-mO5LMR-a6cXLsyUN4nm1LO0l3xRycDgN0epHf0Mt19kw088vIxorNZgO2fiOF5Y9uhv5ECWjgV9pUi2OTsZeZdFbOlf6q3GLJwbEtcfDVlvQnpzeNSaT4uWwJnu3wek4Yacy8xE11d_uDNFSjWayBz8R2pZrZSmxacqdkPs6sIjjJOe27wIu9DFuzzhk2naAIKzL2SwKmA6sswN2G63RXu-FakE7Op1IgZli3B7sZbZGoIPsfbcepk-ESlFZHPCDNo_dlVvn7sqnUX6hNqxWBAyKEmmEYosyxqfUx_OUEIiZtDBlwlextPw_yXce9wDhVnuF9_YmsuAgM3fOgBm0ClTM6As-GV7298udy=w1080-h717-no?authuser=2" class="img-headline" alt="grad"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-card class="ion-padding" style="background-color: aqua;">
    <ion-text style="font-size: 2.3vh;">POŠALJI UPIT ZA PUTOVANJE NA BILO KOJU DESTINACIJU U BILO KOM PERIODU</ion-text>
  </ion-card>

  <!-- <div class="title-flags"> -->
    <ion-title class="ion-padding">Najposećenije države:</ion-title>
    <ion-slides [options]="slideOptionsFlags" class="ion-padding-vertical">
      <ion-slide *ngFor="let flag of flags">
        <ion-avatar style="border-width: 1px; border-color: black;">
          <ion-img [src]="getFlagName(flag)"></ion-img>
        </ion-avatar>
      </ion-slide>
    </ion-slides>
  <!-- </div> -->
</ion-content>